# Comandos SQL

### Crear una base de datos:

In [ ]:
-- Se utiliza las palabras reservadas CREATE DATABASE para crear una base de datos en MySQL + el nombre de la base de datos que se desea crear.
CREATE DATABASE nombre;

### Eliminar una base de datos:

In [ ]:
-- Se utiliza las palabras reservadas DROP DATABASE para eliminar una base de datos en MySQL + el nombre de la base de datos que se desea eliminar.
DROP DATABASE nombre;

### Activar una base de datos:

In [ ]:
-- Se utiliza la palabra reservada USE para seleccionar una base de datos en MySQL + el nombre de la base de datos que se desea usar.
USE nombre;

### Crear tabla:

In [ ]:
-- Se utiliza las palabras reservadas CREATE TABLE para crear una tabla en MySQL + el nombre de la tabla que se desea crear + los campos de la tabla con sus respectivos tipos de datos y características.
CREATE TABLE nombre (
	nombreCampo tipoDato características,
	nombreCampo2 tipoDato características,
	nombreCampo3 tipoDato características
	);

In [ ]:
-- Ejemplo:
create table productos
(
    	idProducto smallint unsigned auto_increment primary key,
    	prdNombre varchar(50) not null unique,
    	prdPrecio decimal(10,2) unsigned not null,
    	idMarca smallint unsigned not null,
    	idCategoria smallint unsigned not null,
    	prdDescripcion varchar(1000) not null,
    	prdImagen varchar(40) not null,
    	prdActivo boolean not null default(1),
    	foreign key (idMarca) references marcas (idMarca),
    	foreign key (idCategoria) references categorias (idCategoria)
);

### Insertar datos en una tabla:

In [ ]:
-- Sintaxis usando SET
INSERT INTO nombreTabla
	SET
		nombreCampo = valor,
		nombreCampo2 = valor2,
		nombreCampo3 = valor3,
		nombreCampoX = valorx;

-- Sintaxis completa (Se mencionan las columnas)
INSERT INTO nombreTabla
	(campo2, campo3, campo4, campoX)
	VALUES
	(valor2, valor3, valor4, valorX);

-- Sintaxis simplificada (No se mencionan las columnas)
INSERT INTO nombreTabla
	VALUES
	(valorPK, Val2, val3, val4, valX);

### Mostrar los datos de una tabla:

- El SELECT viene siempre acompañado de FROM.
- El * hace que traiga todas las columnas de los registros.
- Si queremos traer ciertas columnas de una tabla, debes mencionar los nombre de los campos separados con ",".

In [ ]:
-- Se utiliza la palabra reservada SELECT para seleccionar datos de una tabla en MySQL + los campos que se desean seleccionar + la tabla de la que se desean seleccionar los datos.
SELECT * FROM nombreTabla;

### Mostrar las información de los datos de una tabla:

In [ ]:
-- Se utiliza la palabra reservada DESC para seleccionar la estructura de una tabla en MySQL + el nombre de la tabla de la que se desea seleccionar la estructura.
DESC nombreTabla;

### Actualizar los datos de una tabla:

In [ ]:
-- Se utiliza la palabra reservada UPDATE para actualizar datos de una tabla en MySQL + el nombre de la tabla que se desea actualizar + el campo que se desea actualizar
-- + el valor que se desea asignar al campo + la condición que se debe cumplir para actualizar el campo.
UPDATE nombreTabla
	SET nombreCampo = valor WHERE nombreCampoX = valorX

### Eliminar datos de una tabla:

In [ ]:
-- Se utiliza la palabra reservada DELETE para eliminar datos de una tabla en MySQL + el nombre de la tabla de la que se desea eliminar los datos + la condición que se debe cumplir para eliminar los datos.
DELETE FROM nombreTabla
	WHERE colPK = valorPK;

# Tipos de datos

### Características:

- PRIMARY KEY: Es el identificador de la tabla, por defecto es NOT NULL.
- AUTO_INCREMENT: Indica que el valor se auto incrementa.
- NOT NULL: Indica que el valor no puede ser nulo.
- UNIQUE: Indica que el valor debe ser único.
- UNSIGNED: EL valor no puede ser negativo
- FOREIGN KEY: Es el identificador de una tabla ajena.